<div
  class="modal fade style3"
  [id]="'delete-product-' + product._id"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-dark">
        <h5 class="modal-title" id="add-to-cartCenterTitle">
          <span class="ion-checkmark-round"></span> Do you want delete this
          product ?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 divide-right">
            <div class="row">
              <div class="col-md-6">
                <img width="360" [src]="product.image" alt="img" />
              </div>
              <div class="col-md-6 mb-2 mb-md-0">
                <h4 class="product-name">{{ product.name }}</h4>
                <h5 class="price">
                  Price:
                  {{ (product.price / 100).toFixed(2) | currency: "EUR" }}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="modal-cart-content">
              <p>
                <strong>Total products:</strong>&nbsp;{{
                  product.price / 100 | currency: "EUR"
                }}
              </p>
              <p>
                <strong>Total shipping:</strong>&nbsp;{{ 0 | currency: "EUR" }}
              </p>
              <p>
                <strong>Taxes 20% :</strong>&nbsp;{{
                  ((product.price * 0.2) / 100).toFixed(2) | currency: "EUR"
                }}
              </p>
              <p>
                <strong>Total:</strong>&nbsp;{{
                  ((product.price * 1.2) / 100).toFixed(2) | currency: "EUR"
                }}
              </p>
              <div class="cart-content-btn">
                <button
                  type="button"
                  class="btn theme-btn--dark1 btn--md mt-4 mr-2"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  class="btn theme-btn--dark1 btn--md mt-4"
                  data-dismiss="modal"
                  (click)="deleteProduct(product)"
                >
                  <i class="ion-checkmark-round"></i>Yes, I confirm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
