<node-header-page page="Not Found"></node-header-page>

<div class="section">
  <div class="error_wrap">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-10 order-lg-first">
          <div class="text-center">
            <div class="display-1">404</div>
            <p class="display-6">oops! The page you requested was not found!</p>
            <p class="display-5">
              The page you are looking for was moved, removed, renamed or might
              never existed.
            </p>

            <a
              routerLink="/shop"
              class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5 m-3"
              >Back To Shop</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
