<node-header-page page="Home page"></node-header-page>

<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-30">
        <div class="about-content">
          <h2 class="title mb-20">Welcome To Jstore</h2>
          <p class="mb-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
            aperiam fugit consequuntur voluptatibus ex sint iure in, distinctio
            sed dolorem aspernatur veritatis repellendus dolorum voluptate,
            animi libero officiis eveniet accusamus recusandae. Temporibus amet
            ducimus sapiente voluptatibus autem dolorem magnam quas, officiis
            eveniet accusamus animi libero officiis eveniet accusamus
            recusandae. Temporibus
          </p>
          <p>
            Sint voluptatum beatae necessitatibus quos mollitia vero, optio
            asperiores aut tempora iusto eum rerum, possimus, minus quidem ut
            saepe laboriosam. Praesentium aperiam accusantium minus repellendus
            accusamus neque iusto pariatur laudantium provident quod
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <div class="about-left-image mb-30">
          <img
            src="assets/img/about/about.png"
            alt="img"
            class="img-responsive"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-20">Our Company</h4>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing
            elit.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-20">Our Team</h4>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing
            elit.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-20">Testimonial</h4>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing
            elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
